<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <!-- Desktop View: Navbar Content -->
            <div class="collapse navbar-collapse d-none d-lg-flex" id="navbarNav">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-wrap align-items-center">
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white" href="#"><i class="fa-brands fa-facebook"></i></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white" href="#"><i class="fa-brands fa-x"></i></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white" href="#"><i class="fa-brands fa-youtube"></i></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white" href="#"><i class="fa-brands fa-tiktok"></i></a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link text-white" href="#" style="margin-right: 10px;"><i
                                class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-secondary">Sign Up</button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-danger"><i class="fa-solid fa-user-circle me-2"></i> My Account</button>
                    </li>
                </ul>
            </div>

            <!-- Mobile View: Navbar Toggle and Content -->
            <div class="d-lg-none d-flex flex-column w-100">
                <!-- Menu Toggle Button -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mobileMenu"
                    aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>

                <!-- Mobile Menu -->
                <div class="collapse" id="mobileMenu">
                    <!-- Mobile Logo -->
                    <a class="navbar-brand mx-auto" href="#">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT7-sEExVgbbAaJsYwNBiJ5Cr17XgYconrrEQ&s"
                            alt="Logo" class="logo">
                    </a>

                    <!-- Home, Sign Up, and My Account Buttons on Mobile -->
                    <div class="d-flex flex-column align-items-start p-3">
                        <button class="btn w-100">Home</button>
                        <button class="btn btn-secondary mb-2 w-100">Sign Up</button>
                        <button class="btn btn-danger w-100"><i class="fa-solid fa-user-circle me-2"></i> My
                            Account</button>
                    </div>

                    <!-- Social Icons on Mobile -->
                    <div class="social-icons d-flex justify-content-start p-3">
                        <a class="nav-link text-white mx-1" href="#"><i class="fa-brands fa-facebook"></i></a>
                        <a class="nav-link text-white mx-1" href="#"><i class="fa-brands fa-x"></i></a>
                        <a class="nav-link text-white mx-1" href="#"><i class="fa-brands fa-youtube"></i></a>
                        <a class="nav-link text-white mx-1" href="#"><i class="fa-brands fa-tiktok"></i></a>
                        <a class="nav-link text-white mx-1" href="#"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </nav>


    <div class="header-content d-flex align-items-center justify-content-between text-whitep-3">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT0w_9NRD_sOG3A8F17Kw-5kG45m0k0QGAHHuhdyLsblP4xcpqZJK7R6_2b1yo9Ifvbjd0&usqp=CAU"
            alt="Logo" class="logo">
        <div class="search-container position-relative">
            <input type="search" class="form-control search-box" placeholder="Tìm theo điểm đến, hoạt động">
            <i class="fa-solid fa-search search-icon position-absolute"></i>
        </div>
        <div class="extra-options d-flex align-items-center gap-5">
            <div class="dropdown">
                <button class="btn dropdown-toggle" type="button" id="languageDropdown" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <img src="https://hoianmemoriesland.com/public/images/flag-vi.png" alt="Vietnam Flag"
                        class="vietnam-flag">
                </button>
                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                    <li><a class="dropdown-item" href="https://hoianmemoriesland.com/vi?lang=en"><img
                                src="https://hoianmemoriesland.com/public/images/flag-en.png" alt="EN"> English</a></li>
                    <li><a class="dropdown-item" href="https://hoianmemoriesland.com/vi?lang=cn"><img
                                src="https://hoianmemoriesland.com/public/images/flag-cn.png.pagespeed.ce.S_Je3nHuQy.png"
                                alt="CN"> 中文</a></li>
                    <li><a class="dropdown-item" href="https://hoianmemoriesland.com/vi?lang=kr"><img
                                src="https://hoianmemoriesland.com/public/images/flag-kr.png.pagespeed.ce.Yu1xtOL70k.png"
                                alt="KR"> 한국어</a></li>
                </ul>
            </div>
            <div class="user-icon">
                <i class="fa-solid fa-user"></i>
            </div>
            <select class="form-select currency-selector ms-3">
                <option value="vnd">VND</option>
                <option value="usd">USD</option>
            </select>
            <div>
                <p class="help me-3">Trợ giúp</p>
            </div>
            <div>
                <p class="cart">Giỏ hàng</p>
            </div>


        </div>
    </div>
</header>

<section id="banner" class="position-relative overflow-hidden" style="height: 580px;">
    <video autoplay muted loop playsinline class="w-100 h-100 object-fit-cover">
        <source src="https://hoianmemoriesland.com/public/media/tvc/tvc0808.mp4" type="video/mp4">
    </video>
    <!-- navbar.component.html -->
    <section class="tab-section position-absolute bottom-0 w-100">
        <div class="container-tab">
            <div class="tabs d-flex">
                <div class="tab-item" *ngFor="let tab of tabs" [class.active]="tab === selectedTab"
                    (click)="selectTab(tab)">
                    <a class="tab-link" [class.active]="tab === selectedTab">
                        <span class="tab-text">{{ tab.label }}</span>
                        <i [class]="tab.icon"></i>
                    </a>

                    <!-- menu thuê xe -->
                    <div class="dropdown-menu" *ngIf="tab.label === 'Thuê Xe' && tab === selectedTab">
                        <ul class="location-list">
                            <li *ngFor="let location of locations" (click)="selectLocation(location)">
                                <a class="location-link">{{ location }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-content">
                <ng-container *ngIf="selectedTab">
                    <ng-container *ngIf="selectedTab.label === 'Đặt Vé'">
                        <app-location-detail *ngIf="selectedLocation"
                            location="selectedLocation"></app-location-detail>
                    </ng-container>
                    <!-- Add other conditions if needed -->
                </ng-container>
            </div>
        </div>
    </section>




</section>

<div class="image-container d-flex justify-content-between">
    <div class="image-item-wrapper" *ngFor="let image of images">
        <div class="image-item ">
            <img [src]="image.src" [alt]="image.alt" class="img-fluid">
            <p>{{ image.info }}</p>
        </div>
    </div>
</div>



<section>
    <div class="memory-home">
        <div class="head-memory" >
            <div class="container fadeInRight">
                <img class="lazy" data-src="https://hoianmemoriesland.com/public/media/thumb/memory-img-294x150.png"
                    alt="memory-img.png" src="https://hoianmemoriesland.com/public/media/thumb/memory-img-294x150.png">
            </div>
        </div>
        <div class="container-memory">
            <div class="row">
                <div class="col-lg-8 fadeInLeft" >
                    <div class="cas-memory cas-v1 owl-carousel owl-loaded owl-drag">
                        <div class="slider-container">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <img src="https://hoianmemoriesland.com/public/media/show/big-show/album/thumb/ky-uc-hoi-an-s1-opening-2-965x540.jpg"
                                        alt="Slide 1">
                                    <div class="flash"></div>
                                </div>
                                <div class="item">
                                    <img src="https://hoianmemoriesland.com/public/media/show/big-show/album/thumb/ky-uc-hoi-an-s2-0770-965x540.jpg"
                                        alt="Slide 2">
                                    <div class="flash"></div>
                                </div>
                                <div class="item">
                                    <img src="https://hoianmemoriesland.com/public/media/show/big-show/album/thumb/ky-uc-hoi-an-s1-1425-965x540.jpg"
                                        alt="Slide 3">
                                    <div class="flash"></div>
                                </div>
                                <div class="item">
                                    <img src="https://hoianmemoriesland.com/public/media/show/big-show/album/thumb/ky-uc-hoi-an-s4-0148-965x540.jpg"
                                        alt="Slide 4">
                                    <div class="flash"></div>
                                </div>
                                <div class="item">
                                    <img src="https://hoianmemoriesland.com/public/media/show/big-show/album/thumb/ao-dai-965x540.jpg"
                                        alt="Slide 5">
                                    <div class="flash"></div>
                                </div>
                                <div class="item">
                                    <img src="https://hoianmemoriesland.com/public/media/show/big-show/album/thumb/dam-cuoi-965x540.jpg"
                                        alt="Slide 6">
                                    <div class="flash"></div>
                                </div>
                                <div class="item">
                                    <img src="https://hoianmemoriesland.com/public/media/show/big-show/album/thumb/ky-uc-hoi-an-s1-opening-2-965x540.jpg"
                                        alt="Slide 7">
                                    <div class="flash"></div>
                                </div>
                            </div>
                            <button class="prev">&#10094;</button>
                            <button class="next">&#10095;</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 offset-lg-1 ">
                    <div class="ct-memory ">
                        <h3 class="title fadeInUp">
                            Chương trình biểu diễn nghệ thuật thực cảnh - KÝ ỨC HỘI AN
                        </h3>
                        <div class="desc fadeInUp delay02">
                            Ký Ức Hội An đưa du khách vào chuyến hành trình xuyên không, từ thuở khai sinh ra Hội An đến
                            thời kỳ vàng son của thương cảng Faifo sầm uất, tái hiện dòng chảy văn hóa của Hội An và đắm
                            chìm trong những cung bậc cảm xúc của nghệ thuật đỉnh cao. Tất cả được khắc họa thành công
                            bằng nghệ thuật thực cảnh trên sân khấu rộng 25.000m2, nơi thơ ca, âm nhạc, ánh sáng... hòa
                            cùng lòng say mê của những người Việt giàu tâm huyết làm nên vở diễn đẳng cấp thế giới.
                        </div>
                        <div class="control">
                            <a href="https://hoianmemoriesland.com/en/the-real-world-performance-s1" title="Khám phá show" class="btn-pri fadeInLeft" >Khám phá show</a>
                            <a target="_blank" rel="noreferrer" href="https://booking.hoianmemoriesland.com/en/front-page.html" title="Đặt vé ngay" class="btn-pri v1 fadeInRight">Đặt vé ngay</a>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>