<div *ngIf="isLoading" class="loading-overlay">
  <div class="loading-spinner"></div>
  <div class="loading-message">Đang xử lý yêu cầu của bạn, vui lòng đợi...</div>
</div>
<h2 class="text-center m-2">Tour Manager</h2>
<app-notification></app-notification>

<nav class="d-flex navbar navbar-expand-lg navbar-light bg-light navbackground">
  <div class="form-inline my-2 my-lg-0 mr-auto">
    <input [(ngModel)]="searchQuery" style="margin-left: 10px;" name="searchQuery" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"
      (keyup.enter)="searchTour()">
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="searchTour()">Search</button>
    <button class="btn btn-outline-success my-2 my-sm-0" (click)="reset()">Show all</button>
  </div>
  <button type="button" class="m-3 btn btn-success ml-auto" (click)="displayFormCreate()">Add Tour</button>
</nav>


<div *ngIf="getALlTour.length > 0; else noData" class="container">
  <h6 class="mb-4">Table Tour</h6>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Start Location</th>
          <th>Active</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let tour of pagedData">
          <th scope="row">{{ tour.id }}</th>
          <td>{{ tour.name }}</td>
          <td>{{ tour.startLocation }}</td>
          <td>
            {{tour.isActive ? "Active" : "No Active" }}
          </td>
          <td>
            <button class="btn btn-warning m-2" (click)="displayFormUpdate(tour)">Edit</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination controls -->
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <a class="page-link" (click)="goToPage(currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [class.active]="currentPage === page">
          <a class="page-link" (click)="goToPage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <a class="page-link" (click)="goToPage(currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>
  </div>
</div>

<!-- Create Tour Form -->
<!-- Create Tour Form -->
<div *ngIf="isDisplayCreate" class="modal fade show" tabindex="-1" role="dialog"
  style="display: block; background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content slide-in">
      <div class="modal-body">
          <form (ngSubmit)="onCreate()" enctype="multipart/form-data">
            <div class="row">
              <div class="col-md-6 col-sm-12">
                <h5 class="modal-title">Tour Information</h5>
                <button type="button" class="close" aria-label="Close" (click)="closeFormCreate()">
                  <span aria-hidden="true">&times;</span>
                </button>
                <div class="form-group">
                  <label for="name">Name</label>
                  <input type="text" class="form-control" id="name" [(ngModel)]="createTourRequest.name" name="name"
                    placeholder="Enter tour name" required>
                </div>
                <div class="form-group">
                  <label for="description">Description</label>
                  <textarea class="form-control" id="description" [(ngModel)]="createTourRequest.description"
                    name="description" placeholder="Enter description"></textarea>
                </div>
                <div class="form-group">
                  <label for="startLocation">Start Location</label>
                  <input type="text" class="form-control" id="startLocation"
                    [(ngModel)]="createTourRequest.startLocation" name="startLocation"
                    placeholder="Enter start location">
                </div>
                <div class="form-group">
                  <label for="endLocation">End Location</label>
                  <input type="text" class="form-control" id="endLocation"
                    [(ngModel)]="createTourRequest.endLocation" name="endLocation"
                    placeholder="Enter end location">
                </div>
              
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" id="isActive" [(ngModel)]="createTourRequest.isActive" name="isActive">
                  <label class="form-check-label" for="isActive">
                    Is Active
                  </label>
                </div>
              </div>
              <div class="col-md-6 col-sm-12">
                <!-- Ảnh First -->
                <div class="form-group">
                  <label for="imageFirst">Upload Image First</label>
                  <input type="file" class="form-control-file" id="imageFirst" (change)="onImageSelected($event, 'imageFirst')">
                  <div *ngIf="imageUriFirst" class="mt-2">
                    <img [src]="imageUriFirst" alt="Image First" class="img-fluid rounded" style="max-height: 150px;">
                  </div>
                </div>
                
                <!-- Ảnh Second -->
                <div class="form-group">
                  <label for="imageSecond">Upload Image Second</label>
                  <input type="file" class="form-control-file" id="imageSecond" (change)="onImageSelected($event, 'imageSecond')">
                  <div *ngIf="imageUriSecond" class="mt-2">
                    <img [src]="imageUriSecond" alt="Image Second" class="img-fluid rounded" style="max-height: 150px;">
                  </div>
                </div>
                
                <!-- Ảnh Third -->
                <div class="form-group">
                  <label for="imageThird">Upload Image Third</label>
                  <input type="file" class="form-control-file" id="imageThird" (change)="onImageSelected($event, 'imageThird')">
                  <div *ngIf="imageUriThird" class="mt-2">
                    <img [src]="imageUriThird" alt="Image Third" class="img-fluid rounded" style="max-height: 150px;">
                  </div>
                </div>
                
                <!-- Ảnh Map -->
                <div class="form-group">
                  <label for="imageMap">Upload Image Map</label>
                  <input type="file" class="form-control-file" id="imageMap" (change)="onImageSelected($event, 'imageMap')">
                  <div *ngIf="imageUriMap" class="mt-2">
                    <img [src]="imageUriMap" alt="Image Map" class="img-fluid rounded" style="max-height: 150px;">
                  </div>
                </div>
                
                <button type="button" class="m-1 btn btn-secondary" (click)="closeFormCreate()">Cancel</button>
                <button type="submit" class="m-1 btn btn-primary">Save</button>
              </div>
            </div>
          </form>
      </div>
    </div>
  </div>
</div>

<!-- Update Tour Form -->
<div *ngIf="isDisplayUpdate" class="modal fade show" tabindex="-1" role="dialog"
  style="display: block; background: rgba(0, 0, 0, 0.5);">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content slide-in">
      <div class="modal-body" *ngIf="!isLoading">
        <form (ngSubmit)="onUpdate()" enctype="multipart/form-data">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h5 class="modal-title">Cập Nhật Tour</h5>
              <button type="button" class="close" aria-label="Close" (click)="closeFormUpdate()">
                <span aria-hidden="true">&times;</span>
              </button>
              <input type="hidden" class="form-control" id="id" [(ngModel)]="updateTourRequest.id" name="id">
              
              <div class="form-group">
                <label for="name">Tên Tour</label>
                <input type="text" class="form-control" id="name" [(ngModel)]="updateTourRequest.name" name="name"
                  placeholder="Nhập tên tour" required>
              </div>
              <div class="form-group">
                <label for="description">Mô Tả</label>
                <textarea class="form-control" id="description" [(ngModel)]="updateTourRequest.description"
                  name="description" placeholder="Nhập mô tả"></textarea>
              </div>
              <div class="form-group">
                <label for="startLocation">Điểm Xuất Phát</label>
                <input type="text" class="form-control" id="startLocation"
                  [(ngModel)]="updateTourRequest.startLocation" name="startLocation"
                  placeholder="Nhập điểm xuất phát">
              </div>
              <div class="form-group">
                <label for="endLocation">Điểm Kết Thúc</label>
                <input type="text" class="form-control" id="endLocation"
                  [(ngModel)]="updateTourRequest.endLocation" name="endLocation"
                  placeholder="Nhập điểm kết thúc">
              </div>
            
              <div class="form-check">
                <input class="form-check-input" type="checkbox" id="isActive" [(ngModel)]="updateTourRequest.isActive" name="isActive">
                <label class="form-check-label" for="isActive">
                  Hoạt Động
                </label>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <!-- Ảnh First -->
              <div class="form-group">
                <label for="imageFirst">Tải Ảnh Đầu Tiên</label>
                <input type="file" class="form-control-file" id="imageFirst" (change)="onImageSelected($event, 'imageFirst')">
                <div *ngIf="imageUriFirst" class="mt-2">
                  <img [src]="imageUriFirst" alt="Image First" class="img-fluid rounded" style="max-height: 150px;">
                </div>
              </div>
              
              <!-- Ảnh Second -->
              <div class="form-group">
                <label for="imageSecond">Tải Ảnh Thứ Hai</label>
                <input type="file" class="form-control-file" id="imageSecond" (change)="onImageSelected($event, 'imageSecond')">
                <div *ngIf="imageUriSecond" class="mt-2">
                  <img [src]="imageUriSecond" alt="Image Second" class="img-fluid rounded" style="max-height: 150px;">
                </div>
              </div>
              
              <!-- Ảnh Third -->
              <div class="form-group">
                <label for="imageThird">Tải Ảnh Thứ Ba</label>
                <input type="file" class="form-control-file" id="imageThird" (change)="onImageSelected($event, 'imageThird')">
                <div *ngIf="imageUriThird" class="mt-2">
                  <img [src]="imageUriThird" alt="Image Third" class="img-fluid rounded" style="max-height: 150px;">
                </div>
              </div>
              
              <!-- Ảnh Map -->
              <div class="form-group">
                <label for="imageMap">Tải Ảnh Bản Đồ</label>
                <input type="file" class="form-control-file" id="imageMap" (change)="onImageSelected($event, 'imageMap')">
                <div *ngIf="imageUriMap" class="mt-2">
                  <img [src]="imageUriMap" alt="Image Map" class="img-fluid rounded" style="max-height: 150px;">
                </div>
              </div>
              
              <button type="button" class="m-1 btn btn-secondary" (click)="closeFormUpdate()">Hủy</button>
              <button type="submit" class="m-1 btn btn-primary">Lưu</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<ng-template #noData>
  <app-no-data-found></app-no-data-found>
</ng-template>