<nav class="d-flex navbar navbar-expand-lg navbar-light bg-light navbackground">
    <form class="form-inline my-2 my-lg-0 mr-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button type="button" class="m-3 btn btn-success ml-auto" >Add Tour</button>
</nav>

<div class="col-sm-12 col-md-6 col-xl-4">
    <div class="h-100 bg-light rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Calender</h6>
            <a href="">Show All</a>
        </div>
        <div id="calender"></div>
    </div>
</div>