<div>
    <h3 class="m-2">View Website <button class="m-2 btn btn-primary" (click)="openPageHome()">View Page Home</button></h3>
</div>

<div class="container">
    <h4 class="m-3">Video Introduction <button type="button" class="m-3 btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoModal">
        Open Video
    </button></h4>
    
    <!-- Modal -->
    <div class="modal fade" id="videoModal" tabindex="-1" aria-labelledby="videoModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="videoModalLabel">Video Introduction</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <video id="videoElement" autoplay muted loop playsinline class="w-100" style="max-height: 500px;">
                        <source [src]="defaultVideoUrl" type="video/mp4">
                        Your browser does not support the video tag.
                    </video>
                    <div class="mt-3">
                        <label for="videoUrl" class="form-label">Edit Video URL:</label>
                        <input type="text" id="videoUrl" class="form-control" placeholder="Enter new video URL">
                        <button type="button" class="btn btn-success mt-2" (click)="editVideo()">Save Video</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Form Hiển thị chi tiết Tour -->
<div *ngIf="isDisplayDetails" class="modal fade show" tabindex="-1" role="dialog" style="display: block; background: rgba(0, 0, 0, 0.5);">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content slide-in slide-in-home">
            <div class="modal-body">
                <div class="modal-header">
                    <h5 class="modal-title">Page Home</h5>
                    <button type="button" class="close" aria-label="Close" (click)="closePageHome()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <app-home></app-home>
            </div>
        </div>
    </div>
</div>
