<div class="container text-center success-container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <i class="status-icon"></i>

            <div class="message-box">
                <div class="status-title">Đang xử lý...</div>

                <div class="status-message">Vui lòng chờ trong khi chúng tôi xử lý thanh toán của bạn.</div>

                <a href="/" class="btn btn-success-custom btn-lg mt-3">Quay về trang chủ</a>
            </div>
        </div>
    </div>
</div>
